html {
  width: 100%;
  height: 100%;
  background: url("https://abs.twimg.com/b/front_page/v1/EU_5.jpg") no-repeat center center fixed;
  background-size: cover;
}
/* -------------1 header---------------*/
header {
padding: 10px;
height: 30px;
width: 100%;
background-color: #ffffff;
margin-top: -10px;
margin-left: -10px;
}
.left, .right {
  position: absolute;
  display: inline;
}
.left {
  margin-left: 200px;
  font-size: 15px;
  left: 10px;
}
.right {
  margin-right: 150px;
  font-size: 15px;
  right: 0px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color : #55acee;
}
/* -------------2 aside--------------*/
form {
  background: white;
  padding:10px;
  width:280px;
}
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 }
section {
  height: 500px;
  width: 100%;
  display: inline-block;
  color : white;
}
section a {
  color: white;
  text-decoration: underline;
  font-size: 13px;
}
.deco {
  text-decoration: none;
}
.container-left {
  width: 350px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin: 10px 0px 0px 450px;
  height: 300px;
}
.container-right-top {
  width: 300px;
  height:100px;
  text-align: center;
  display: inline-block;
  margin: 50px 0px 0px 0px;
  position: absolute;
  padding: 10px;
}
.container-right-bottom {
  width: 300px;
  height:200px;
  text-align: center;
  margin: 200px 180px 0px 0px;
  display: inline-block;
  right: 200px;
  position: absolute;
}
/* -------------3 footer---------------*/

footer {
width: 100%;
height: 400px;
padding: 5px;
text-align: center;
color: white;
}
footer a {
  color: white;
}
.lien {
font-size:13px;
}
p {
display: inline;
}
html, body {
  width: 100%;
  height: 100%;
  color: white;
}

/* -------------1 header---------------*/
header {
border: 1px solid black;
padding: 5px;
}
.fa-twitter {

}
.left, .right {
  position: absolute;
  display: inline;
}
.left {
  left: 10px;
  padding: 30px;
}
.right {
  right: 0px;
  padding: 30px;
}
/* -------------2 aside---------------*/

section {
  border: 1px solid black;
  padding : 5px;
  /*background-image: url("https://abs.twimg.com/b/front_page/v1/EU_5.jpg");*/
}
.container-left {
  display: inline-block;
  vertical-align: left;
  width: 50%;
}
.container-right {
  display: inline-block;
  vertical-align: right;
  width: 50%;
}


/* -------------3 footer---------------
footer {
  border: 1px solid black;
  width: 100%;
  height: 30%;
  position: relative;
  margin: 0px 0px 0px 0px;
}*/
footer {
border: 1px solid black;
padding: 5px;
}
footer a {
  text-decoration: none;
  color: white;
}
.lien {
  position: absolute;
}
